<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fact Checking :: Crawler :: About-Us</title>
  <script src="/pages/js/jquery-3.3.1.min.js"></script>
  <script src="/pages/js/jquery-ui.min.js"></script>
  <link href="/pages/css/jquery-ui.min.css" rel="stylesheet">
  <link href="/pages/css/jquery-ui.structure.min.css" rel="stylesheet">
  <link href="/pages/css/jquery-ui.theme.min.css" rel="stylesheet">
  <link href="/pages/css/app.css" rel="stylesheet">
</head>
<body bgcolor="#d3d3d3">
<table width="100%" cellpadding="8px">
  <tr>
    <td class="nopadding" colspan="2">
      <div class="topnav">
        <a href="/pages/index.html">Home</a> |
        <a href="/pages/graph.html">Crawled Graph</a> |
        <a href="/pages/templates/fact-check.html">Fact Check</a> |
        <a href="/pages/templates/crawler.html">Crawler</a> |
        <a href="/pages/templates/squirrel.html">Squirrel</a> |
        <a class="active" href="/pages/templates/about.html">About Us</a>
      </div>
    </td>
  </tr>
</table>

<div class="container">
  <div class="markdown-body">
    <h1>
      <a id="user-content-squirrel---pg-subgroup-crawler" class="anchor" href="#squirrel---pg-subgroup-crawler"
         aria-hidden="true"></a>
      SQUIRREL - PG Subgroup Crawler
    </h1>

    <p>Welcome to the Wiki of our Subgroup. Here you should find all information about our project :)</p>

    <h2>
      <a id="user-content-project-members" class="anchor" href="#project-members" aria-hidden="true"></a>
      Project members
    </h2>

    <ul>
      <li><a href="https://philippheinisch.de"><strong>Philipp Heinisch</strong></a></li>

      <ul>
        <!--<li>E-Mail: <a href="mailto:philipp.heinisch@googlemail.com">philipp.heinisch@googlemail.com</a></li>-->
        <!--<li>Tel: 015253436892</li>-->
        <li>in Slack</li>
      </ul>

      <li><strong><b style="color: #337ab7">Varun ​Eranki</b></strong></li>

      <ul>
        <!--<li>E-Mail: <a href="mailto:varun.maitreya@gmail.com">varun.maitreya@gmail.com</a></li>-->
        <!--<li>Tel: 17640436402</li>-->
        <li>in Slack</li>
      </ul>

      <li><strong><b style="color: #337ab7">Waleed ​Bin ​Arshad</b></strong></li>

      <ul>
        <!--<li>E-Mail: <a href="mailto:waleedshah10@gmail.com">waleedshah10@gmail.com</a></li>-->
        <!--<li>Tel: 015753243923</li>-->
        <li>in Slack</li>
      </ul>

      <li><strong><b style="color: #337ab7">Meher Vivek Dheram</b></strong></li>

      <ul>
        <!--<li>E-Mail: <a href="mailto:vivekdheram@gmail.com">vivekdheram@gmail.com</a></li>-->
        <!--<li>Tel: +49 176 35766097</li>-->
        <li>in Slack</li>
      </ul>

      <li><strong><b style="color: #337ab7">Philip ​Frerk</b></strong></li>

      <ul>
        <!--<li>E-Mail: <a href="mailto:pfrerk@mail.upb.de">pfrerk@mail.upb.de</a></li>-->
        <!--<li>Tel: 017645945047</li>-->
        <li>in Slack</li>
      </ul>

      <li><strong><b style="color: #337ab7">Matthias​ ​Dürksen</b></strong></li>

      <ul>
        <!--<li>E-Mail: <a href="mailto:mattdk@mail.upb.de">mattdk@mail.upb.de</a></li>-->
        <!--<li>Tel: 01639020847</li>-->
        <li>in Slack</li>
      </ul>

      <li><strong><b style="color: #337ab7">Abhishek hassan Chandrashekar</b></strong></li>

      <ul>
        <!--<li>E-Mail: <a href="mailto:mattdk@mail.upb.de">mattdk@mail.upb.de</a></li>-->
        <!--<li>Tel: 01639020847</li>-->
        <li>in Slack</li>
      </ul>

      <li><strong><b style="color: #337ab7">Ajay Subramanya Kudli Prasanna Kumar</b></strong></li>

      <ul>
        <!--<li>E-Mail: <a href="mailto:mattdk@mail.upb.de">mattdk@mail.upb.de</a></li>-->
        <!--<li>Tel: 01639020847</li>-->
        <li>in Slack</li>
      </ul>

      <li><em><strong><b style="color : #337ab7">Michael ​ ​Röder</b></strong></em> (Mentor)</li>

      <ul>
        <!--<li>E-Mail: <a href="mailto:michael.roeder@uni-paderborn.de">michael.roeder@uni-paderborn.de</a></li>-->
        <!--<li>Tel: ???</li>-->
        <li>not in Slack</li>
      </ul>
    </ul>

    <h2>
      <a id="user-content-important-links" class="anchor" href="#important-links" aria-hidden="true"></a>Important links
    </h2>

    <ol>
      <li><a href="https://drive.google.com/open?id=0B1DPeuQ_uqmsU1JyTVBCSmN4b0U">Google Drive</a></li>
    </ol>

    <ul>
      <li><a href="https://goo.gl/yAorQC">Prerequirements</a></li>
    </ul>

    <ol>
      <li><a href="https://247factchecking.slack.com/messages/C7G7E0Y0N/">Slack</a></li>
      <li><a href="https://tree.taiga.io/project/philipf-pg/">Taiga</a></li>
      <li>GIT</li>
    </ol>

    <ul>
      <li><a href="https://github.com/dice-group/Squirrel">Michael's Resporitory</a></li>
      <li><a href="https://github.com/phhei/Subgroup-SQUIRREL">our old Resporitory</a></li>
      <li><a href="https://github.com/ph1l1pF/Squirrel_Subgroup_Final">our not actual Respository</a></li>
      <li><a href="https://github.com/varunmaitreya/Squirrel">our now actual Resporitory</a></li>
    </ul>
  </div>
</div>

</body>
</html>
